html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(12, 2, 11)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 0px;
    position: fixed;
    z-index: 10;
    width: 100%;
}

li {
    padding: 0px;
    margin: 0px;
    display: inline-flex;
    float: left;
}

.navitem {
    padding: 20px;
    margin: 0px;
    border-bottom: rgba(0, 0, 0, 0) 1px solid;
    text-decoration: none;
    color: white;
}

.navitem:hover {
    border-bottom: white 1px solid;
    transition: .2s;
}

#name {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: left;

    font-size: 3vw;
    color: white;
    font-weight: 100;
    text-align: left;
    padding-left: 10vw;
}

#splash {
    height: 60vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60vw;
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-width: .15vw;
    background-color: black;
    border-image-source: linear-gradient(to right, #4e26d3, #d5593a);
    animation-name: gradientLine;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

@keyframes gradientLine {
    0% {border-image-source: linear-gradient(to right, #4e26d3, #8F3E8A, #d5593a);}
    33% {border-image-source: linear-gradient(to right, #d5593a, #4e26d3, #8F3E8A);}
    66% {border-image-source: linear-gradient(to right, #8F3E8A, #d5593a, #4e26d3);}
    100% {border-image-source: linear-gradient(to right, #4e26d3, #8F3E8A, #d5593a);}
}

/*-----------------------------------*/

#work {
    margin-top: 0vw;
    margin-bottom: 0vw;
    text-align: center;
    color: white;
}

#work_container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
}

#work_card {
    position: relative;
    text-align: center;
    border-radius: 1vw;
    height: 20vw;
    width: 20vw;
    margin: 1vw;
    overflow: hidden;
    outline: 1px solid transparent;
    transition: .4s;
}

#work_card > img {
    transition: .4s;
    border-radius: 1vw;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}

#work_card > div {
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 2vw;
    color: white;
    text-decoration: none;
    opacity: 0%;
    transition: .4s;
}

#work_card:hover > img {
    opacity: 50%;
    transition: .4s;
    filter: blur(1px);
    transform: scale(1.1);
}

#work_card:hover {
    transition: .4s;
    outline: 1px solid white;
    outline-offset: -1vh;
}

#work_card:hover > div {
    transition: .4s;
    opacity: 100%;
}

#about_text {
    position: relative;
    top: 10px;
    text-align: left;
}

#about_text > p{
    font-size: 1vw;
    margin-right: 2vw;
    margin-top: 1vw;
}

#about_text > h2{
    margin-top: .3vw;
    line-height: 3vw;
}

#cslist {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
}

#cslist li {
    padding: 2px 5px;   
}